img {
  max-width: 100%;
  height: auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif !important;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.wrapper {
  max-width: 100%;
}

.l-title {
  padding: 80px 0 80px 0;
  font-size: 54px;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 300;
  color: #41aaa8;
}
.l-subtitle {
  font-weight: 300;
  font-size: 28px;
  color: #41aaa8;
  margin-bottom: 24px;
}
.l-section {
  padding-bottom: 140px;
}

.animated {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.5s;
}
.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

/* banner */
#banner-container {
  height: 100vh;
  background-image: linear-gradient(
      rgba(154, 129, 148, 0.7),
      rgba(154, 129, 148, 0.7)
    ),
    url(../img/min-film-hero-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.navbar {
  z-index: 10;
  height: 70px;
  background-color: transparent;
  transition: all 0.1s;
}
.navbar-collapse.show {
  transition: all 0.5s;
}
@media (max-width: 991px) {
  .navbar,
  .navbar-collapse {
    background-color: rgba(27, 35, 47);
  }
  .navbar-collapse {
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
  }
}
.navbar button:focus {
  outline: none;
}
.navbar-dark .navbar-toggler {
  border-color: transparent;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.5s;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #51dacf;
}
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-dark .navbar-nav .nav-link.active {
  color: #51dacf;
}
.logo {
  position: relative;
  width: 50px;
  height: 50px;
}
.navbar-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar-logo a {
  background-image: url(../img/saffran-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: block;
}
.navbar-nav .nav-item {
  font-size: 20px;
  font-weight: 700;
}
.nav-link {
  font-family: "Open Sans", arial, sans-serif;
}
.banner-intro-b h1 {
  font-size: 165px;
  line-height: 150px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
}
@media (max-width: 992px) {
  .banner-intro-b h1 {
    font-size: 145px;
    line-height: 140px;
  }
}
@media (max-width: 768px) {
  .banner-intro-b h1 {
    font-size: 125px;
    line-height: 130px;
  }
}
@media (max-width: 576px) {
  .banner-intro-b h1 {
    font-size: 105px;
    line-height: 120px;
  }
}
@media (max-width: 414px) {
  .banner-intro-b h1 {
    font-size: 65px;
    line-height: 80px;
  }
}
.banner-text_content {
  line-height: 28px;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 25px;
  color: rgba(255, 253, 253);
}
@media (min-width: 768px) {
  .banner-intro-s {
    position: relative;
  }
  .banner-text {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
}
.banner-text_content span {
  color: #ffc478;
}

/* Experiences */

.icon-style {
  padding-top: 3px;
  font-size: 24px;
}
/* Careers */
.careers-container_row {
  justify-content: center;
}
@media (max-width: 768px) {
  .careers-title {
    margin-bottom: 20px;
  }
}
.careers-content-item {
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
/* the circle */
.careers-content-item:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #95adbe;
}
/* the dashed line */
.careers-content-item:after {
  content: "";
  position: absolute;
  left: 4.7px;
  top: 30px;
  bottom: 0px;
  border-left: 1px dashed #95adbe;
}
.content-item-title {
  margin-bottom: 1rem;
}
.content-item-title-b {
  font-size: 19px;
}
.content-item-title-s {
  font-size: 17px;
  color: #797979;
}
.careers-content-item-job-jobTitle {
  font-size: 16px;
  line-height: 16px;
  color: #797979;
}
/* little gray dot */
.careers-content-item-job-range {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #797979;
}
.careers-content-item-job-range:before {
  content: "";
  position: absolute;
  margin-left: 10px;
  top: 50%;
  left: 0px;
  transform: translateX(-50%);
  width: 2.5px;
  height: 2.5px;
  border-radius: 50%;
  background-color: #797979;
}
.content-item-jobRange {
  display: flex;
}
@media (max-width: 992px) {
  .content-item-jobRange {
    margin-bottom: 20px;
  }
}
.careers-content-item-jobContent {
  margin-left: 25px;
  font-size: 16px;
}
.careers-content-item-jobContent ul li {
  padding-left: 25px;
  margin-bottom: 10px;
  line-height: 1.7;
  text-align: left;
}
@media (max-width: 576px) {
  .content-item-jobRange {
    display: block;
  }
  .careers-content-item-job-range {
    margin-top: 10px;
  }
}

/* Educations */
.educations-container_row {
  justify-content: center;
}
@media (max-width: 768px) {
  .educations-title {
    margin-bottom: 20px;
  }
}
.educations-content-item {
  padding-bottom: 16px;
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .content-item-titleSection {
    display: list-item !important;
  }
  .content-item-title {
    margin-bottom: 0rem !important;
  }
  .content-item-title-s {
    margin-bottom: 0.5rem !important;
  }
  .educations-content-item-range {
    margin-left: 48px;
    margin-bottom: 1rem !important;
  }
}

.educations-content-item-range {
  font-size: 16px;
  line-height: 16px;
  color: #797979;
}
.educations-content-item_item {
  padding-left: 25px;
}

/* Abilities */
.abilities-container_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.abilities-container_col {
  width: 60%;
  max-width: 340px;
}
.abilities-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.abilities-section::before {
  content: "";
  position: absolute;
  border: 3px solid #f0e5d8;
  width: 100%;
}
@media (min-width: 1024px) {
  .abilities-container_row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .abilities-container_col {
    width: 25%;
    max-width: 340px;
    margin: 0 1%;
  }
  .abilities-section {
    margin-bottom: 0px;
  }
}
.abilities-title {
  padding-top: 10px;
}
.abilities-content {
  list-style-type: none;
  padding: 0px;
}
.abilities-content li {
  padding: 3px 0px;
}

/* Projects */
.frontEnd-skills {
  margin-bottom: 100px;
}
.frontEnd-skills .row {
  justify-content: center;
}
.skills-subtitle h3 {
  margin-bottom: 40px;
  font-size: 1.9rem;
}
.skills-boxContainer {
  margin-left: auto;
  margin-right: auto;
}
.skills-boxContainer-frame {
  width: 92%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 4px 3px #7e97a6;
  padding-top: 20px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 992px) {
  .skills-boxContainer {
    margin-bottom: 40px;
  }
  .skills-boxContainer-frame {
    width: 88%;
  }
}
@media (max-width: 768px) {
  .skills-boxContainer {
    margin-bottom: 30px;
  }
  .skills-boxContainer-frame {
    width: 70%;
  }
}
@media (max-width: 576px) {
  .skills-boxContainer-frame {
    width: 80%;
  }
}
.skills-boxContainer-frame-icon {
  font-size: 85px;
  color: #f76262;
}
.skills-boxContainer-frame-text {
  padding-left: 24px;
  padding-right: 24px;
}
.skills-boxContainer-frame-text h4 {
  padding-bottom: 10px;
}
.skills-boxContainer-frame-text p {
  text-align: left;
  font-size: 16px;
}
.skills-boxContainer-frame-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.skills-boxContainer-frame-link a {
  display: block;
  border: 2px solid #f76262;
  width: 150px;
  height: 40px;
  text-decoration: none;
  line-height: 40px;
  border-radius: 20px;
  color: #f76262;
  transition: all 0.5s;
}
.skills-boxContainer-frame-link a:hover {
  text-decoration: none;
  background-color: #f76262;
  color: #fff;
}

.languages-frame {
  width: 45%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.mandarin {
  margin-right: 50px;
}
.english {
  margin-left: 50px;
}

@media (max-width: 992px) {
  .languages-frame {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .languages-frame {
    margin-right: auto;
    margin-left: auto;
  }
}

/* CONTACT */
.contact-main {
  color: #51dacf;
}
.contact-main row {
  max-width: 100%;
}
.contact-photo {
  width: 250px;
  margin: 0 auto 40px auto;
}
.contact-photo img {
  border-radius: 50%;
  width: 250px;
}
.contact-text-section {
  padding-top: 50px;
}
.contact-text {
  font-size: 20px;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .contact-text-section {
    text-align: left;
  }
  .contact-text {
    justify-content: start;
  }
}
@media (max-width: 576px) {
  .contact-text-section {
    text-align: center;
  }
  .contact-text {
    justify-content: center;
  }
}
.contact-text-b {
  padding-top: 50px;
  font-size: 30px;
}
@media (max-width: 1024px) {
  .contact-text-b {
    font-size: 25px;
  }
}
@media (max-width: 576px) {
  .contact-text-b {
    font-size: 20px;
  }
}
@media (max-width: 414px) {
  .contact-text-b {
    font-size: 16px;
  }
}
.contact-text i {
  padding: 5px 7px 0px 0px;
  font-size: 24px;
}

/* email */
.contact-text a {
  color: #51dacf;
  text-decoration: none;
}
.contact-text a:hover {
  color: #e3f4f3;
  text-decoration: none;
}

/* email */

.social-icon a {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 20px;
  line-height: 50px;
  font-size: 25px;
  color: #464159;
  background-color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}
.social-icon a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #51dacf;
  border: 1px solid #51dacf;
}
