/* banner */
#banner-container {
  height: 100vh;
  background-image: linear-gradient(
      rgba(154, 129, 148, 0.7),
      rgba(154, 129, 148, 0.7)
    ),
    url(../img/min-film-hero-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.navbar {
  z-index: 10;
  height: 70px;
  background-color: transparent;
  transition: all 0.1s;
  color: $light;
}
.navbar-collapse.show {
  transition: all 0.3s;
}
@include pad {
  .navbar,
  .navbar-collapse {
    background-color: rgba(27, 35, 47, 1);
  }
  .navbar-collapse {
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
  }
}
.navbar button:focus {
  outline: none;
}
.navbar-dark .navbar-toggler {
  border-color: transparent;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: $info;
}
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-dark .navbar-nav .nav-link.active {
  color: $info;
}
.logo {
  position: relative;
  width: 50px;
  height: 50px;
}
.navbar-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar-logo a {
  background-image: url(../img/saffran-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: block;
}
.navbar-nav .nav-item {
  font-size: 20px;
  font-weight: 700;
}
.nav-link {
  font-family: "Open Sans", arial, sans-serif;
}

.banner-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 30px 80px 30px;
  @include pad {
    padding: 10px 30px 80px 30px;
  }
  @include iphone6 {
    flex-direction: column;
  }
}
.banner-col {
  width: 40%;
  margin: 0 5px;
  @include lg {
    width: 80%;
  }
}
.banner-intro-b {
  padding-top: 30px;
  @include lg {
    margin-bottom: 60px;
  }
  @include iphone6 {
    margin-bottom: 40px;
  }
  @include iphone5 {
    margin-bottom: 25px;
  }
}
.banner-intro-b h1 {
  font-size: 165px;
  line-height: 150px;
  font-weight: 700;
  letter-spacing: 2px;
  // @include lg {
  //   font-size: 145px;
  //   line-height: 160px;
  // }
  @include pad {
    font-size: 70px;
    line-height: 40px;
  }
  @include iphone6 {
    font-size: 65px;
  }
  @include iphone5 {
    font-size: 55px;
  }
}
.banner-intro-b h1:nth-of-type(1),
.banner-intro-b h1:nth-of-type(2) {
  color: $light;
}
.banner-intro_name {
  color: $info;
}
.banner-intro-s {
  display: flex;
  align-items: center;
  @include iphone6 {
    display: none;
  }
}
.banner-text_content {
  line-height: 32px;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 25px;
  color: rgba(255, 253, 253, 1);
  @include sm {
    font-size: 20px;
    line-height: 28px;
  }
}
.banner-text_content span {
  color: #ffc478;
}
